*{
    margin: 0;
    padding:0;
    font-weight: bold;
    color: rgb(7, 7, 7);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

html{
    height: 100%;
}

body {
  height: 100%;
  background: url("photo-masthead-375-BoK_p8LG.webp") no-repeat center center/cover;
  background-size : cover;
  background-attachment:fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .glass-container{
    height: 500px;
    width: 400px;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    text-align: center;
 }


h1{
    
    margin-bottom: 20px;
}