body{
    margin: 0;
    padding:0;
    background: #0e2136;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box{
    
    height: 400px;
    background: rgb(12, 24, 133);
    border-radius: 20px;
    aspect-ratio: 1/1;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;


}
@property --deg{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

.box::before,
.box::after{

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from var(--deg) at center,
        #00c3ff,
        #4d0199,
        #6300c6,
        #00c3ff
    );
    border-radius: inherit;
    z-index: -2;
    padding: 2px;
    animation: autoRotate 3s linear infinite;


 }

 .box::after{
    /* z-index: 1; */
    filter: blur(10px);

 }

 @keyframes autoRotate{
    to{
        --deg: 360deg;
    }
 }