body{
    margin: 0;
    padding: 0;
   background-color: #eee;
}

h2{
    text-align: center;
    margin-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top : -300px;
    position: relative;
}

img {
  display: block;
  margin: auto;
  position: relative;
    top: -650px;
    
}
.card{
/* display: flex;
justify-content: space-between; 
align-items: center;
flex-wrap: wrap; 
padding: 1em; 
max-width: 1100px;
margin: 0 auto;  min-height: 100vh; */
width: 17em;
background: #fff; border-radius: 10px; 
position: relative;
transform-style: preserve-3d;
transition: transform 0.5s;
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 1em;
max-width: 1100px;
margin: 0 auto;
min-height: 100vh;
}

.card img {
    width: 16em;
position: absolute;
top: 6em;
right: -4em;
filter: drop-shadow(
Opx 10px 25px rgba (0, 0, 0, 0.5)
) ;

}

.content {  
    padding: 1em;
}
.banner {
height: 15em;
background: linear-gradient (
90deg, 
#fb3854 0%,
#901026 100%
);

}