body{
    margin: 0;
    padding: 0;
   background-color: #eee;
}

.card{
display: flex;
justify-content: space-between; 
align-items: center;
flex-wrap: wrap; 
padding: 1em; 
max-width: 1100px;
margin: 0 auto;  min-height: 100vh;

}

.card{
    width: 17em;
    background-color: #fff;
    
}